<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ExpressJS</title>
    <% include css%>
    <% include scripts%>
</head>
<body>
<h2>Form</h2>
<div class="container">
    <form>
        <div class="form-group">
            <label for="usr">Name:</label>
            <input type="text" class="form-control" id="usr">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd">
        </div>
        <div class="popup btn btn-primary">Click</div>
    </form>
</div>
</body>
</html>
