<!--<form>-->
<!--  <mat-form-field>-->
<!--    <fa-icon [icon]="faSearch"></fa-icon>-->
<!--    <input matInput placeholder="Search ..." type="text"/>-->
<!--  </mat-form-field>-->
<!--</form>-->
<div class="wrap-tools row">

  <mat-form-field class="pl-4 col-8">
    <input matInput type="text" placeholder="Search ..." [formControl]="myControl" [matAutocomplete]="auto">
    <mat-icon class="search-fn" matSuffix>search</mat-icon>
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let d of filterList | async" [value]="d">
        {{d}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <span class="col-4 text-center pt-2 p-0">
    <button mat-stroked-button color="primary" (click)="toggleFilter()"><mat-icon matPrefix>filter_list</mat-icon> Filter</button>
  </span>

</div>
<div class="wrap-result" *ngIf="isFilterClicked">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
