.package-list {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.package-option {
  margin: 5px;
}
.list-group-item:hover {
  background-color: #eeeeee;
  border-left: 6px solid purple;
}
.wrap-tools {
  //background-color: #00a8ff;
}
.wrap-filter {
  position: relative;
  border-top: 1px solid #dcdde1;
}
.wrap-filter:after {
  content: "";
  position: absolute;
  top: -20px;
  right: 10vw;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid white;
}
.wrap-filter:before {
  content: "";
  position: absolute;
  top: -21px;
  right: 10vw;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #dcdde1;
}
@media screen and (orientation: landscape) {
  .wrap-filter:after, .wrap-filter:before {
    right: 13vw;
  }
}
.hide-this-false .abc {
  max-height: 500px;
  transition: all .5s ease;
  //height: 65.5px;
}
.hide-this-true {
  &.wrap-filter:before, &.wrap-filter:after {
    display: none;
  }
  border-top: none;
  .abc {
    max-height: 0;
    overflow: hidden;
    transition: all .2s ease;
    //height: 0;
  }
}
