/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
  margin: 0;
}
header {
  background-color: aqua;
  padding: 20px;
}
mat-sidenav-container {
  height: 100vh;
}
.signup-form, .login-form {
  max-width: 320px;
}
mat-sidenav {
  width: 100px;
}
.footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
}
a {
  text-decoration: underline;
  &:hover {
    color: white;
  }
}
.wrap-content {
  .wrap-symbol {
    text-align: center;
  }
  .mat-list-option {
    border-bottom: 1px solid aqua;
  }
}
//@media only screen and (min-device-width: 576px) and (max-device-width: 768px) {
  .mat-expansion-indicator {
    margin-right: 15px;
  }
//}
