/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
  margin: 0;
}
header {
  background-color: aqua;
  padding: 20px;
}
mat-sidenav-container {
  height: 100vh;
}
.signup-form, .login-form {
  max-width: 320px;
}
